.hide {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Mobile screen base styles */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.header {
  font-size: 18px;
  line-height: 1.17;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list,
.adress {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-bth {
  padding: 0;
  border: none;
  background: transparent;
}

.burger-icon {
  display: block;
  fill: #2e2f42;
}

@media screen and (min-width: 768px) {
  .burger-bth {
    display: none;
  }
  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: inherit;
    display: block;
    padding: 24px 0;
  }

  .header-link:hover,
  .header-link:focus,
  .adress-link:focus,
  .adress-link:hover,
  .header-link.current {
    color: #404bbf;
  }

  .header-link.current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
  }
  .adress {
    font-style: normal;
    display: block;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .adress-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    font-family: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .adress-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-family: inherit;
  }
}

/* Mobile Menu */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 72px 16px 40px;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  left: 24px;
  margin-left: auto;
}

.mobile-nav {
  margin-bottom: 168px;
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-item {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link-mobile.current,
.adress-link-mobile.current {
  color: #4d5ae5;
}

.address-mobile-list {
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}

.header-link-mobile {
  color: #2e2f42;
}

.adress-mobile-item {
  padding-bottom: 24px;
}

.adress-link-mobile {
  font-weight: 500;
  display: block;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #434455;
  font-family: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-item:hover,
.mobile-item:focus,
.adress-mobile-item:hover,
.adress-mobile-item:focus {
  color: #404bbf;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.mmobile-menu-close:hover,
.mobile-menu-close:focus,
.mobile-btn-icon {
  stroke: #ffffff;
  fill: #ffffff;
}

.mobile-btn-icon {
  fill: #2e2f42;
  stroke: #2e2f42;
  transition-property: stroke, fill;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-mobile-list {
}

.social-media-mobile {
  width: 40px;
  height: 40px;
  gap: 40px;
}

.team-link-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 24px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-list-mobile {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.solution-container {
  padding: 0;
}

.section.solutions {
  background-color: #2e2f42;
  line-height: 1.07;
  text-align: center;
  padding: 72px 52px;
  max-width: 1440px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.solutions-title {
  letter-spacing: 0.02em;
  font-size: 36px;
  color: #fff;
  background: #2e2f42;
  max-width: 496px;
  background: none;
  font-weight: 700px;
  margin: 0 auto;
}

.solution-button {
  background: #4d5ae5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  min-height: 56px;
  border: none;
  display: block;
  font-weight: 500;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solution-button:focus,
.solution-button:hover,
.adress-link:focus,
.adress-link:hover {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section.solutions {
    padding: 112px 136px;
  }
  .solutions-title {
    font-size: 56px;
    line-height: 107%;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .section.solutions {
  }
  .solutions-title {
    margin-bottom: 48px;
  }
}

.content {
  padding: 96px 16px;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.content-icon {
  display: none;
}

.content-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .container-team {
    padding: 0 108px;
  }
  .content-list {
    gap: 72px 24px;
    display: flex;
  }
  .content-item {
    width: calc((100% - 24px) / 2);
  }
  .content-subtitle {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .content-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  .content-item {
    width: calc((100% - 72px) / 4);
  }

  .content-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
}

.team {
  padding: 96px 0;
  background-color: #f4f4fd;
}

/*
.team {
  background-color: #f4f4fd;
  text-align: center;
  display: block;
  padding: 120px 0;
} */

.team-title {
  text-align: center;
  line-height: 1.2;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.team-info {
  padding: 0 16px;
}
.svg-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-media {
  width: 40px;
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .team-list {
    max-width: 736px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-item {
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    max-width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-img {
  width: 264px;
  display: block;
}

.team-info {
  padding: 32px 0;
  align-content: center;
}

.team-subtitle {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 24px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}

.portfolio section {
  max-width: 100%;
  height: auto;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-apps {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  display: block;
}

.portfolio-apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  stroke: #ffffff;
  fill: #ffffff;
}

.modal-btn-icon {
  stroke: #2e2f42;
  transition-property: stroke, fill;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field-comment {
  margin-bottom: 16px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}
.modal-form-wrapper {
  position: relative;
}
.modal-form-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 11px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  background-color: transparent;
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  stroke: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
  stroke: #4d5ae5;
}

.modal-btn-icon {
  border-radius: 4px;
  fill: #2e2f42;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
}

.model-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.16667;
  outline: transparent;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.model-form-message:focus {
  border-color: #4d5ae5;
}

.model-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-agrement {
  margin-bottom: 24px;
}

input[type='checkbox']:checked
  + .modal-form-agrement-text
  .modal-form-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-agrement-text {
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}
.modal-form-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.modal-form-checkbox-icon {
  fill: #ffffff;
  opacity: 0;
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

input[type='checkbox']:checked
  + .modal-form-agrement-text
  .modal-form-checkbox
  .modal-form-checkbox-icon {
  opacity: 1;
}

input[type='checkbox']:focus-visible
  + .modal-form-agrement-text
  .modal-form-checkbox {
  outline: 2px solid #404bbf;
  outline-offset: 2px;
}

.modal-form-agrement-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-input-footer {
  background: #2e2f42;
  border: 1px solid #fff;
  opacity: 0.3;
  padding: 8px 16px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  margin-bottom: 16px;
}

.modal-input-footer::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  opacity: 0.3;
}

.footer {
  background-color: #2e2f42;
  line-height: 1.17;
  padding: 100px 0;
}

.container.footer-container {
  align-items: baseline;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  min-width: 288px;
}

.footer-div,
.footer-team-media {
  margin-bottom: 72px;
}

.footer-team-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.button-send {
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .footer-text {
    width: 264px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }
  .footer-team-media {
    display: block;
    margin-bottom: 0;
  }
  .footer-logo {
    justify-content: flex-start;
  }
  .footer-div {
    padding: 0;
    width: 264px;
    margin-bottom: 0;
  }
  .footer-p {
    justify-content: flex-start;
  }
  .button-send {
    display: flex;
  }
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
  .modal-input-footer {
    margin: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gap: 0;
  }
  .footer-div {
    margin-right: 120px;
  }
  .footer-field {
    display: block;

    margin-left: 80px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }
  .icon-send {
  }
  .footer-text {
    width: 264px;
  }
  .footer-team-media {
    align-items: baseline;
  }
  .modal-input-footer {
    width: 264px;
  }
  .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
  }
}

.icon-send {
  fill: #fff;
  margin-left: 16px;
}

.footer-logo .logo-part {
  font-size: 18px;
  color: #f4f4fd;
}

.footer-team {
  display: flex;
  gap: 16px;
}

.footer-icons {
  width: 40px;
  height: 40px;
}

.footer-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 24px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-team-link:hover,
.footer-team-link:focus {
  background-color: #31d0aa;
}

.team-icons {
  fill: #f4f4fd;
}

.team-icons {
  width: 24px;
}
